.error{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px rgb(78, 20, 78);
}

.error{
    background: linear-gradient(90deg, #f5bbf6, #a05ba7fe);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  